*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(rgba(0,0,0,0.8),
    rgba(0,0,0,0.8)),
    url("fundo.jpg");
    background-size:cover;
    background-position:center;
    min-height:100vh;
    color:white;
}

nav{
    background:rgb(2, 24, 45);
    padding:20px;
}

nav a{
    color:#008890;
    text-decoration:none;
    margin-right:30px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:white;
}

.conteudo{
    width:80%;
    margin:auto;
    padding-top:100px;
    text-align:center;
}

h1{
    color:#008890;
    font-size:60px;
    margin-bottom:30px;
}

p{
    font-size:22px;
    line-height:1.8;
    margin-bottom:20px;
}

ul li{
    font-size:22px;
    line-height:1.8;
    margin-bottom:20px;
}
